/* Style for the entire page */
body{
    font-family: Arial, sans-serif;
    background-color: #272626;
}

table {
    color: white;
    text-align: left;
}

td, th {
    white-space: nowrap;
    padding: 8px;
}

h1, h2{
    color: white;
    position: relative;
}

/* Style for the iframe container */
.iframe-container {
    position: relative;
    float: left;
    margin: 15px;
    width: 45%;
  }
  
  /* Style for the iframe */
  .iframe-container iframe {
    width: 100%;
    border: 2px solid #524f4f; /* Add a soft border with a different shade of grey */
    border-radius: 10px; /* Add rounded corners */  
  }

  #website-title {
    margin-left: 20px;
  }