<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"></meta>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <title>dragonhansen's Sports Tracker</title>
  <div class="title-container">
    <h1 id="website-title">dragonhansen's Sports Tracker</h1>
    <button onclick="request_scrape()">Update using JS fetch</button>
  </div>
  <div class="outer-container">
    <div class="stats-container">
      <h1>Cycling races and results</h1>
      <div class="data-container">{% include 'scraped_data_cycling.html'%}</div>
    </div>
    <div class="stats-container">
      <h1>F1 GP's and results</h1>
      <div class="data-container">{% include 'scraped_data_f1.html'%}</div>
    </div>
</div>
</body>
<script>
  function request_scrape() {
    fetch("/trigger-scraper", {
      method: "POST"
    })
    .then((respponse) => {
      if (!respponse.ok) {
        throw new Error('HTTP Error!, Status: ' + respponse.status.toString());
      }
      location.reload()
    })
    .catch(err => console.log(err))
  }
</script>
</html>