/* Style for the entire page */
body{
    font-family: Arial, sans-serif;
    background-color: #272626;
}

h1, h2{
    color: white;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-container button {
  color: white;
  background-color: #313030;
  border-color: #313030;
  border-radius: 10px;
  padding: 5px;
  font-size: large;
  margin-left: 50px;
}

.outer-container {
  display: flex;
}

/* Style for the iframe container */
.stats-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  background-color: #313030;
  border-radius: 10px; /* Add rounded corners */
}

.stats-container h1 {
  padding: 0px;
  margin: 0px;
}

#website-title {
  margin-left: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}

.grid-container-wide {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
}

.grid-item {
  margin: 4px;
  white-space: nowrap;
}
