<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"></meta>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <title>dragonhansen's Sports Tracker</title>
  <div class="title-container">
    <h1 id="website-title">dragonhansen's Sports Tracker</h1>
    <form  action='/trigger-scraper' method="post">
      <button>Update</button>
    </form>
  </div>
  <div class="outer-container">
    <div class="stats-container">
      <h1>Cycling races and results</h1>
      <div class="data-container">{% include 'scraped_data_cycling.html'%}</div>
    </div>
    <div class="stats-container">
      <h1>F1 GP's and results</h1>
      <div class="data-container">{% include 'scraped_data_f1.html'%}</div>
    </div>
  </div>
  <div class="todo-container">
    <h1>Todo list</h1>
    <div class="todo-list-container">
      <form action="/add-todo", method="post">
        <ul>{{todo_input}}</ul>
        <input type="text" name="nm">
        <button>Add</button>
      </form>
    </div>
  </div>
</body>
</html>