<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"></meta>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <title>dragonhansen's Sports Tracker</title>
  <h1 id="website-title">dragonhansen's Sports Tracker</h1>
  <div class="stats-container">
    <div class="iframe-container">
      <h1>Cycling races and results</h1>
      <div class="data-container">{% include 'scraped_data_cycling.html'%}</div>
    </div>
    <div class="iframe-container">
      <h1>F1 GP's and results</h1>
      <div class="data-container">{% include 'scraped_data_f1.html'%}</div>
    </div>
  </div>
</body>
</html>