/* Style for the entire page */
body{
  font-family: Arial, sans-serif;
  background-color: #272626;
  color: white;
}

.title-container {
display: flex;
margin: 20px;
white-space: nowrap;
}

.outer-container {
display: inline-flex;
}

@media only screen and (max-width: 960px) {
  .outer-container {
    flex-direction: column;
  }
}

/* Style for the iframe container */
.stats-container {
display: flex;
flex: 1 1 auto;
flex-direction: column;
margin: 10px;
padding: 10px;
background-color: #313030;
border-radius: 10px; /* Add rounded corners */
white-space: nowrap;
}

.stats-container h1 {
padding: 0px;
margin: 0px;
}

.stats-container table {
text-align: left;
border-spacing: 0 5px;
}

.stats-container th, td {
padding: 5px;
}

.highlighted-row:nth-child(even) {
  background-color: #444;
  margin-bottom: 5px;
}

.highlighted-row:nth-child(odd) {
  background-color: #555;
  margin-bottom: 5px;
}

td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}

td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}
